<div class="text-center mt-3">
  <h2 class="font2">あなたのファンクラブを作ろう</h2>
</div>

<div class="row">
  <div class="col-sm-6">
    <img src="/assets/05.jpg" alt style="width: 600px;">
  </div>
  <div class="col-sm-6">
    <div class="text-center mt-5 h2">ファンクラブを無料で開設する</div>
    <div class="text-center mt-2">
      (サイト名)ではでファンクラブを開設することができます。<br>
      頑張るあなたの活動を応援します。
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-sm-6">
    <img src="/assets/06.jpg" alt style="width: 600px;">
  </div>
  <div class="col-sm-6">
    <div class="text-center mt-5 h2">ブログやイベントなど便利機能を</div>
    <div class="text-center mt-2">
      あなたの活動の助けになるような機能をご用意し<br>
      利用者の要望を聞き、さらにより良いサービスを目指します。
    </div>
  </div>
</div>

<div class="mt-2 text-center">
  <%= link_to "開設を申し込む", new_adminrequest_path %>
</div>
