<% if current_user.already_ticket?(event) %>
  <%= button_to  user_event_ticket_path(@user, event), class: 'btn btn-outline-dark', method: :delete do %>
    <div>
      <div class="ticket-button2"><i class="fas fa-minus ticket-button"> </i>取り消し</div>
    </div>
  <% end %>
<% else %>
  <%= button_to user_event_tickets_path(@user, event), class: 'btn btn-warning' do %>
    <div class="ticket-button2"><i class="fas fa-plus ticket-button"></i>参加する</div>
  <% end %>
<% end %>
