// Place all the styles related to the adminrequests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.done1{
  font-size: 40px;
  margin-top: 30px;
}

.done2{
  font-size: 30px;
  margin-top: 30px;
}

.done3{
  font-size: 20px;
}

.confirm-item1{
  font-size: 60px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  border-bottom: solid #741c9c;
}

.confirm-item2{
  font-size: 40px;
}