/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_directory .
 *= require cropper.min.css
 *= require_self
 */



 html, body {
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
  min-width: 1200px;
  height: 100%;
}

html{
  text-decoration: none;
}

.no-underline{text-decoration:none !important;}

ul{
  list-style: none;
}

.container {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}

.home-nav{
  width: 100%;
  height: 100px;
  background-color: rgb(246, 239, 255);
}

.home-nav-primary{
  align-items: center;
  display: table;
  height: 94px;
  margin: auto;
  max-width: 950px;
  padding: 0 10px;
  width: 100%;
}

.navbar-brand{
  font-family: HanziPen SC;
  font-size: 40px;
  display: table-cell;
  vertical-align: middle;
}

.home-nav-ul{
  display: table-cell;
  vertical-align: middle;
}

.nav-item{
  display: inline-block;
  font-size: 30px;
  margin-right: 30px;
}

.nav-item:first-child{
  margin-left: 160px;
}

#footer{
  width: 100%;
  height: 100px;
  background-color: rgb(246, 239, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-primary{
  font-size: 30px;
}
