// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-bodyform{
  
  position: relative;
  right: 130px;
}



.ticketuser-list{
  position:  relative;  
  list-style: none;
  display: flex;
  margin-left : 190px;

}

.ticketuser-list li{
  margin-right: 50px;
}

.ticketuser-list li:last-child{
  align-items: right;
  position: absolute;
  left: 700px;
}

.ticket_index{
  position: relative;
  top: -40px;
  right: -800px;
}

.tickets{
  margin-top: 20px;
  font-size: 50px;
}

// ticket_users_page
.ticket_users{
  margin-top: 30px;
  list-style: none;
  display: flex;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.ticket_users li{
  font-size: 40px;
}

.ticket_users_name{
  margin-top: 25px;
  margin-left: 30px;
}

.next-event-container{
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.next-event{
  font-size: 60px;
  border-bottom: solid;
  border-color: #741c9c;
}

.calendar-event{
  font-size: 30px;
  position: relative;
  left: 10px;
}

.card-event-title{
  font-size: 40px;
  margin-left: 10px;
}

.card-event-text{
  font-size: 30px;
  margin-left: 30px;
}