// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.font1{
   font-size: 22px;
   font-weight: bold;
   border-bottom: thick double #741c9c;
}

.font2{
    font-size: 27px;
    font-weight: bold;
    border-bottom: thick double #741c9c;
}

.font3{
  font-weight: bold;
    font-size: 25px;
}


  .swiper-wrapper{
    max-height: 600px;
    max-width: 1200px; 
   
  }

/* home/about.html.erb */
/* ボタン１ */
.btn-flat-vertical-border {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 1.5em 5em;
  text-decoration: none;
  border-left: solid 4px #741c9c;
  border-right: solid 4px #741c9c;
  color: #741c9c;
  background: #f6e4ff;
  transition: .4s;
}

.btn-flat-vertical-border:hover {
  background: #741c9c;
  color: #FFF;
}



  // 横並びスライド
  .sample ul{
    padding: 0px;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .sample li{
    display: inline-block;
    width: 30%;
    height: 300px;
    margin: 16px;
    padding: 7px;
    background: #e1f3ff;
  }
  
  .font4{
    font-weight: bold;
    font-size: 25px;
    margin: 50px 0px 10px 20px;
}

