// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-title{
  font-size: 60px;

}

.container{
    width: max;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }

  .gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .post-image {

    margin: 5px;
    border-radius: 0px;
    box-shadow: 0 2px 5px #ccc;
  }

  
  
  
  
  #submit-btn1{
  height:50px;
  position:relative; 
  left:0px;/*アイコン左右の位置調整*/
  top:-45px;
  background:none;
  color: #741c9c;
  border:none;
  font-size:20px;/*アイコンサイズ*/
  }

  #submit-form1{
    position: relative;
    left: 900px;
    height:39px;
    width: 300px;
    padding:0 10px; 
    border-radius:2px;
    outline:0;
    background:rgb(255, 255, 255);	
  }

  .plus-icon{
    color: rgb(178, 149, 255);
    position: absolute;
    
  }

  // event 一覧
   .event_day{
     font-size: 50px;
     margin-left: 60px;
   }

   .event_hour{
    font-size: 30px;
    margin-left: 20px;
   }

   .event_title{
     font-size: 50px;
     margin-left: 140px;
   }

   //event show
   .event_title_show{
     font-size: 70px;
   }

   .event_body_show{
     font-size: 50px;
   }

   .event{
     font-size: 40px;
     margin-left: 180px;
   }

   .event_time{
    font-size: 40px;
    margin-left: 230px;
  }

   .event_starttime{
     font-size: 35px;
     margin-left: 180px;
   }


   .event_area_show{
    font-size: 35px;
    margin-left: 150px;
   }

    .event_remarks{
     font-size: 40px;
     margin-left: 270px;
   }

   .event_remarks_text{
     max-width: 700px;
     font-size: 35px;
     margin-left: 100px;
   }
   
   .container_remarks{
     display: flex;
   }

  .comment-form-ul{
    margin-left: 100px;
    list-style: none;
    display: flex;
  }

  .form-control1{
    width: 800px;
  }
  
  .post-title-button{
    display: flex;
    justify-content: center;
  }

  .post-button{
    font-size: 50px;
  }

  .post-user-box{
    display: flex;
  }

  .post-user-image{
    margin: 20px;
  }

  .post-user-name{
    font-size: 40px;
  }