.sgin_up{
    font-size: 60px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    border-bottom: solid #741c9c;
    
}

.name_from{
    margin-top: 30px;
}

.field{
    font-size: 25px;
}

.form-control{
    margin-left: 450px;
}

.form-check-label{
    margin-left: 15px;
}