// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.name-font{
    font-size: 50px;
    font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}



.table-ul {
    background-color: #c0c0c0;
    display: table;
    table-layout: fixed;
    text-align: center;
    width: 100%;
    margin: {
      top: 1px;
      bottom: 0px;
    }
  }
  .table-ul li {
    border-right: 1px solid #fff;
    display: table-cell;
    vertical-align: middle;
    outline: 1px solid rgb(88, 20, 119);
    outline-offset: -10px;
  }

  .table-ul li:last-child {
    border-right: 0;
  }

  .table-ul li a {
    color: rgb(35, 31, 39);
    display: block;
    font-size: 25px;
    text-decoration: none;
    padding: 30px 0px;
  }

  .table-ul li a:hover {
    background-color: #5c5c5c;
    color: #ccc;
  }

  .table-ul li.current a {
    color: #ccc;
    background-color: #1f1f1f;
  }

// profile
  

  .user-name{
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 1120px;
    border-bottom: solid;
    border-color: #741c9c;;
  }

  .profile{
    font-size: 30px;
  }



// メンバー一覧

.font7{
  font-size: 55px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 1120px;
  border-bottom: solid;
  border-color: #741c9c;;
}

.member {
	display: flex;
  flex-wrap: wrap;
  margin: 25px;
}


.card1 {
  display: inline-block;
  margin: 25px auto;
  width: 250px;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}
.card-img1 {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto;
}
.card-content1 {
  padding: 20px;
}
.card-title1 {
  font-size: 20px;
  margin-bottom: 5px;
  text-align: left;
  color: #333;
}
.card-text1 {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
}
.card-link1 {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 20px;
}
.card-link1 a {
  text-decoration: none;
  color: #0bd;
  margin: 0 10px;
}
.card-link1 a:hover {
  color: #0090aa;
}


#submit-btn2{
  height:50px;
  position:relative; 
  left:0px;/*アイコン左右の位置調整*/
  top:0px;
  background:none;
  color: #741c9c;
  border:none;
  font-size:20px;/*アイコンサイズ*/
  }

  #submit-form2{
    position: relative;
    left: 11px;
    height:39px;
    width: 300px;
    padding:0 10px; 
    border-radius:2px;
    outline:0;
    background:rgb(255, 255, 255);	
  }


  .user_result{
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
  }


  .card3 {
    display: inline-block;
    margin: 25px auto;
    width: 350px;
    height: 320px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
  }
  .card-img3 {
    border-radius: 5px 5px 0 0;
    max-width: 100%;
    height: 200px;
  }
  .card-content3 {
    padding: 20px;
  }
  .card-title3 {
    font-size: 20px;
    margin-bottom: 5px;
    text-align: left;
    color: #333;
  }
  .card-text3 {
    color: #777;
    font-size: 14px;
    line-height: 1.5;
  }
  .card-link3 {
    text-align: center;
    border-top: 1px solid #eee;
    padding: 20px;
  }
  .card-link3 a {
    text-decoration: none;
    color: #0bd;
    margin: 0 10px;
  }
  .card-link3 a:hover {
    color: #0090aa;
  }

  .font8{
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 1120px;
    border-bottom: solid;
    border-color: #741c9c;;
  }

  // user show 次のイベント

  .card4 {
    margin: 30px auto;
    display: flex;
    width: 1000px;
    height: 300px;
    background: #fff;
    border-radius: 0px;
    box-shadow: 0 2px 5px #ccc;
  }
  .card-img4 {
    width: 300px;
    height: 300px;
  }
  
  .card-content4 {
    padding: 20px;
  }

  .card-title4 {
    font-size: 60px;
    margin-left: 70px;
    text-align: center;
    color: #333;
  }

  .card-text4 {
    color: #777;
    font-size: 30px;
    margin-left: 70px;
  }


  .all_look{
    font-size: 30px;
    margin-right: 90px;
  }