// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.name-font{
    font-size: 50px;
    font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}



.table-ul {
    background-color: #668ad8;
    display: table;
    table-layout: fixed;
    text-align: center;
    width: 100%;
    margin: {
      top: 1px;
      bottom: 1px;
    }
  }
  .table-ul li {
    border-right: 1px solid #fff;
    display: table-cell;
    vertical-align: middle;
  }

  .table-ul li:last-child {
    border-right: 0;
  }

  .table-ul li a {
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    padding: 30px 0px;
  }

  .table-ul li a:hover {
    background-color: #3b60b1;
  }

  .table-ul li.current a {
    background-color: #0f2b69;
  }


.team-name{
    font-size: 100px;
    font-family: 'Noto Serif JP', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Reggae One', cursive;
    
}
 
.prfile{
    
    background-color: #668ad8;
}




// メンバー一覧

.member {
	display: flex;
  flex-wrap: wrap;
  margin: 25px;
}


.card1 {
  display: inline-block;
  margin: 25px auto;
  width: 250px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}
.card-img1 {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto;
}
.card-content1 {
  padding: 20px;
}
.card-title1 {
  font-size: 20px;
  margin-bottom: 5px;
  text-align: left;
  color: #333;
}
.card-text1 {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
}
.card-link1 {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 20px;
}
.card-link1 a {
  text-decoration: none;
  color: #0bd;
  margin: 0 10px;
}
.card-link1 a:hover {
  color: #0090aa;
}