<footer id="footer">
  <section class="primary">
    <p class="logo"><a href="#">IMEMO</a></p>
    <div class="navi-row">
      <ul class="navi">
        <li><a href="#">ホーム</a></li>
        <li><a href="#">権利規約</a></li>
        <li><a href="#">プライバシーポリシー</a></li>
      </ul>
    </div>
  </section>
</footer>
